name: Tests [wallet-sdk]

on:
  push:
    branches: [main]
    paths:
      - 'packages/wallet-sdk/**'
  pull_request:
    branches: [main]
    paths:
      - 'packages/wallet-sdk/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm -F=wallet-sdk test
